<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
ಅಕ್ಷರಗಳ ಆಧಾರದಿಂದ ಗಣ ವಿಭಾಗ ಮಾಡುವುದೇ <b>ಅಕ್ಷರಗಣ</b>. ಮೂರು ಮೂರು ಅಕ್ಷರಗಳಿಗೆ ಒಂದೊಂದರಂತೆ ಗಣ ವಿಂಗಡಣೆ ಮಾಡಲಾಗುವುದು. ಇಲ್ಲಿ ಮಾತ್ರೆಗಳು ಇಂತಿಷ್ಟೇ ಇರಬೇಕೆಂಬ ನಿಯಮವಿಲ್ಲ. ಪದ್ಯದ ಸಾಲುಗಳಲ್ಲಿರುವ ಎಲ್ಲ ಅಕ್ಷರಗಳೂ ಗಣಗಳಾಗಿ ವಿಂಗಡಿಸಲ್ಪಡಬೇಕೆಂಬ ನಿಯಮವಿಲ್ಲ. ಗಣ ವಿಂಗಡಣೆಯ ನಂತರ ಒಂದು ಅಥವಾ ಎರಡು ಅಕ್ಷರಗಳು ಶೇಷವಾಗಿ ಉಳಿಯಬಹುದು.

<b>ವೃತ್ತಗಳು(ಖ್ಯಾತಕರ್ಣಾಟಕಗಳು) ಅಕ್ಷರ ಗಣ ಆಧಾರಿತ ಛಂದಸ್ಸು.</b>

<b>ಅಕ್ಷರ ಗಣಗಳಲ್ಲಿ ಒಟ್ಟು ಎಂಟು ವಿಧಗಳಿವೆ.</b>
1. ಯಗಣ 2. ಮಗಣ 3. ತಗಣ 4. ರಗಣ 5. ಜಗಣ 6. ಭಗಣ 7. ನಗಣ 8. ಸಗಣ

ಅಕ್ಷರ ಗಣಗಳನ್ನು ಒಂದು ಸೂತ್ರದಲ್ಲಿ ಹೇಳಬಹುದು. ಅವು ಹೀಗಿವೆ.
<b>ಸೂತ್ರ</b>: ಯಮಾತಾರಾಜಭಾನಸಲಗಂ

<img src="{{url_for('static',filename='images/gana/akshara_gana.png')}}" />

<b>ಅಕ್ಷರ ಗಣದಲ್ಲಿ ಬರುವ ಎಂಟು ಗಣಗಳನ್ನು ಗುರುತಿಸಲು ಕೆಳಗಿನ ಪದ್ಯವು ಸಹಕಾರಿಯಾಗಿದೆ.</b>
ಗುರು ಲಘು ಮೂರಿರೆ ಮ - ನ - ಗಣ
ಗುರು ಲಘು ಮೊದಲಲ್ಲಿ ಬರಲು ಭ - ಯ - ಗಣಮೆಂಬರ್
ಗುರು ಲಘು ನಡುವಿರೆ ಜ - ರ - ಗಣ
ಗುರು ಲಘು ಕೊನೆಯಲ್ಲಿ ಬರಲು ಸ - ತ - ಗಣಮಕ್ಕುಂ
</pre>
{% endblock %}
