<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
ಮಾತ್ರೆಗಳ ಆಧಾರದಿಂದ ಗಣ ವಿಭಾಗ ಮಾಡುವುದೇ <b>ಮಾತ್ರಾ ಗಣ</b>. ಮೂರು, ನಾಲ್ಕು ಅಥವಾ ಐದು ಮಾತ್ರೆಗಳಿಗೆ ಒಂದೊಂದು ಗಣ ಮಾಡಲಾಗುವುದು. ಸಾಲಿನಲ್ಲಿರುವ ಎಲ್ಲಾ ಮಾತ್ರೆಗಳನ್ನು ಗಣಗಳಾಗಿ ವಿಂಗಡಿಸಬೇಕು.

ಮಾತ್ರೆಗಳ ಆಧಾರದಿಂದ ಗಣ ವಿಭಾಗ ಮಾಡಲಾಗುವ ಮಾತ್ರಾ ಗಣದಲ್ಲಿ ಮೂರು ವಿಧ. ಅವೇ ಮೂರು ಮಾತ್ರೆಗಳ ಗಣ, ನಾಲ್ಕು ಮಾತ್ರೆಗಳ ಗಣ ಮತ್ತು ಐದು ಮಾತ್ರೆಗಳ ಗಣ.

<b>ಕಂದ, ಷಟ್ಪದಿ, ರಗಳೆ ಇವು ಮಾತ್ರಾ ಗಣ ಆಧಾರಿತ ಛಂದಸ್ಸುಗಳು.</b>

<b>ಮಾತ್ರೆ</b>: ಅಕ್ಷರವನ್ನು ಉಚ್ಚರಿಸಲು ಬೇಕಾದ ಕಾಲವನ್ನು ಮಾತ್ರೆ ಎಂಬ ಮಾನದಿಂದ ಅಳೆಯಲಾಗುವುದು. ಒಂದು ಹ್ರಸ್ವ ಅಕ್ಷರವನ್ನು ಉಚ್ಚರಿಸಲು ಬೇಕಾಗುವ ಕಾಲವೇ ಒಂದು <b>ಮಾತ್ರಾಕಾಲ</b>. <b>ಮಾತ್ರೆಗಳಲ್ಲಿ ಎರಡು ವಿಧ</b>. ಅವೇ ಲಘು ಮತ್ತು ಗುರು.
<b>ಲಘು</b>: ಒಂದು ಮಾತ್ರಾಕಾಲದಲ್ಲಿ ಉಚ್ಚರಿಸಲ್ಪಡುವ ಅಕ್ಷರಗಳನ್ನು ಲಘು(<b>U</b>) ಎನ್ನುವರು.
<b>ಗುರು</b>: ಎರಡು ಅಥವಾ ಎರಡಕ್ಕಿಂತ ಹೆಚ್ಚು ಮಾತ್ರಾಕಾಲದಲ್ಲಿ ಉಚ್ಚರಿಸಲ್ಪಡುವ ಅಕ್ಷರಗಳನ್ನು ಗುರು(<b>_</b>) ಎಂದು ಕರೆಯುವರು.
<b>ಪ್ರಸ್ತಾರ</b>: ಲಘು(<b>U</b>) ಮತ್ತು ಗುರು(<b>_</b>) ಗಳನ್ನು ಗುರುತಿಸುವ ಕ್ರಿಯೆಯನ್ನು ಪ್ರಸ್ತಾರ ಹಾಕುವುದು ಎನ್ನುವರು.

<b>ಅಕ್ಷರವು ಗುರು ಎನಿಸುವ ಲಕ್ಷಣಗಳು:</b>

<img src="{{url_for('static',filename='images/gana/matra_gana.png')}}" />

<b>ಅಕ್ಷರವು ಲಘು ಎನಿಸುವ ಲಕ್ಷಣಗಳು:</b>
ಗುರು ಎನಿಸಿಕೊಳ್ಳುವ ಲಕ್ಷಣಗಳನ್ನು ಹೊಂದಿರದ ಅಕ್ಷರಗಳನ್ನು ಲಘು ಎಂದು ಪರಿಗಣಿಸಬೇಕು.
</pre>
{% endblock %}
