<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಉತ್ಪಲಮಾಲಾ ವೃತ್ತದ ಲಕ್ಷಣ:</b>
ನಾಲ್ಕು ಸಮಾನ ಸಾಲುಗಳುಳ್ಳ ಪದ್ಯ. ಪ್ರತಿ ಸಾಲಿನಲ್ಲೂ ೨೦ ಅಕ್ಷರಗಳಿವೆ(ವ್ಯಂಜನ ವರ್ಣಗಳನ್ನು ಲೆಕ್ಕಕ್ಕೆ ತೆಗೆದುಕೊಳ್ಳಕೂಡದು). ಪ್ರತಿ ಸಾಲಿನಲ್ಲೂ <b>ಭ, ರ, ನ, ಭ, ಭ, ರ</b> ಗಣಗಳೂ, ಮೇಲೆ ಒಂದು ಲಘು ಮತ್ತು ಒಂದು ಗುರು ಹೀಗೆ ಬರುವ ವೃತ್ತವೇ ಉತ್ಪಲಮಾಲಾ ವೃತ್ತವೆನಿಸುವುದು.

<b>ಸೂತ್ರ:</b> ಉತ್ಪಲಮಾಲೆಯಪ್ಪುದು ಭರಂ ನಭಭಂ ರಲಗಂ ನೆಗಳ್ದಿರಲ್

<b>ಉದಾಹರಣೆ:</b>

<img src="{{url_for('static',filename='images/vrutta/utpala_mala.png')}}" />
</pre>
{% endblock %}
