<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಛಂದಸ್ಸು</b>: ಪದ್ಯವನ್ನು ರಚಿಸುವ ಶಾಸ್ತ್ರ.

ಪದ್ಯ ರಚನೆಯ ನಿಯಮಗಳನ್ನು ವಿವರಿಸುವ ಶಾಸ್ಟ್ರವೇ <b>ಛಂದಶ್ಯಾಸ್ಟ್ರ</b>.
ಛಂದಶ್ಯಾಸ್ಟ್ರದ ಪ್ರಕಾರ ರಚಿತವಾದ ಪದ್ಯವನ್ನು <b>ಛಂದೋಬದ್ಧ ಪದ್ಯ</b> ಎನ್ನುವರು.

<i>"ಸುಮಾರು ಕ್ರಿ.ಶ. ೯೯೦ರಲ್ಲಿ ಇದ್ದ <b>ಒಂದನೆಯ ನಾಗವರ್ಮ</b> ಎಂಬವನು <b>ಛಂದೋಂಬುಧಿ</b> ಎಂಬ ಗ್ರಂಥದ ಮೂಲಕ ಈ ಶಾಸ್ತ್ರವನ್ನು ನೀಡಿದ್ದಾನೆ. ಹಳಗನ್ನಡದ ಮತ್ತು ನಡುಗನ್ನಡದ ಪದ್ಯಕಾವ್ಯಗಳು ಈ ಶಾಸ್ತ್ರವನ್ನು ಅನುಸರಿಸಿಯೇ ಬರೆಯಲ್ಪಟ್ಟವು."</i>

ಛಂದಸ್ಸು ಕನ್ನಡ ಸಾಹಿತ್ಯ, ಸಂಸ್ಕೃತ ಸಾಹಿತ್ಯದ ಆರಂಭದ ದಿನಗಳಿಂದಲೂ ಬಳಕೆಯಲ್ಲಿದ್ದು, ಕಾಲಕ್ರಮದಲ್ಲಿ ಹಲವಾರು ಪರಿಷ್ಕರಣೆಗೊಳಪಟ್ಟಿದೆ. ಆಧುನಿಕ ಕನ್ನಡ ಕಾವ್ಯಗಳಲ್ಲಿ ಛಂದಸ್ಸು ಹೆಚ್ಚು ಬಳಕೆಯಾಗುತ್ತಿಲ್ಲ. ಆದರೆ ಕಾವ್ಯ ಪರಂಪರೆಯಲ್ಲಿ ಛಂದಸ್ಸಿಗೆ ವಿಶೇಷ ಮಹತ್ವವಿದೆ.

<b>ಇಲ್ಲಿ ಕೊಟ್ಟಿರುವ ಮೂರು ಕಾರಣಗಳಿಂದಾಗಿ ಛಂದಸ್ಸಿಗೆ ಗುರುತರವಾದ ಮಹತ್ವವುಂಟು.</b>
- ಹಿಂದಿನ ಕಾವ್ಯಗಳ ಲಕ್ಷಣ ತಿಳಿಯಲು
- ಛಂದಸ್ಸನ್ನು ಕಡೆಗಣಿಸಿದ್ದರ ಔಚಿತ್ಯದ ಬಗ್ಗೆ ಮರು ಚಿಂತಿಸಲು
- ಛಂದಸ್ಸಿನ ಹೊಸ ಬಗೆಯ ಪ್ರಯೋಗಗಳನ್ನು ಅರಿಯಲು

<b>ಛಂದಶ್ಶಾಸ್ತ್ರವನ್ನು ಮೂರು ವಿಭಾಗಗಳಾಗಿ ವಿಂಗಡಿಸಲಾಗಿದೆ.</b>
1. <a href="{{ url_for('home_bp.prasa_bp.prasa')}}">ಪ್ರಾಸ</a>
2. <a href="{{ url_for('home_bp.yati_bp.yati')}}">ಯತಿ</a>
3. <a href="{{ url_for('home_bp.gana_bp.gana')}}">ಗಣ</a>

ಆದುದರಿಂದ ಪದ್ಯವನ್ನು ರಚಿಸಲು ಬೇಕಾದ ನಿರ್ದಿಷ್ಟ ಪಾದ(ಸಾಲು)ಗಳ ಬಗ್ಗೆ ಮತ್ತು ಪ್ರತಿ ಪಾದದಲ್ಲಿ ಇರಬೇಕಾದ ಪ್ರಾಸ, ಯತಿ, ಗಣಗಳ ಬಗ್ಗೆ ತಿಳಿಸುವ ಶಾಸ್ತ್ರವೇ ಛಂದಸ್ಸು.
</pre>
{% endblock %}
