<!DOCTYPE html> {% extends "base.html" %} {% block body %}
<pre class="pre-wrap">
<b>ಕಂದ ಪದ್ಯ</b> ಕನ್ನಡ ಸಾಹಿತ್ಯದ ವಿಶಿಷ್ಟ ಪ್ರಕಾರದ ಛಂದಸ್ಸಾಗಿದೆ. ಕನ್ನಡದ ಅನೇಕ ಕವಿಗಳು ವಿಫುಲವಾಗಿ ಇದನ್ನು ಬಳಸಿಕೊಂಡಿದ್ದಾರೆ. ಇದು ಚತುರ್ಮಾತ್ರಾಗಣಗಳ ಗತಿಯಲ್ಲಿ ಬರುವ ಪ್ರಕಾರವಾಗಿದೆ.

ಇದರಲ್ಲಿ ಮೊದಲ ಸಾಲಿನಲ್ಲಿ ಮೂರು ಗಣಗಳೂ ಎರಡನೇ ಸಾಲಿನಲ್ಲಿ ಐದು ಗಣಗಳೂ ಪುನಃ ಮೂರನೇ ಸಾಲಿನಲ್ಲಿ ಮೂರು ಗಣಗಳೂ ನಾಲ್ಕನೇ ಸಾಲಿನಲ್ಲಿ ಐದು ಗಣಗಳೂ ಇರುತ್ತವೆ. ಎಲ್ಲಾ ಗಣಗಳು ನಾಲ್ಕು ಮಾತ್ರೆಗಳಿಗೆ ವಿಭಾಗಿಸಲ್ಪಟ್ಟಿರುತ್ತವೆ.

ಅದನ್ನು ಹೀಗೆ ತೋರಿಸಬಹುದು.

೪ + ೪ + ೪ = 12
೪ + ೪ + ೪ + ೪ + ೪ = 20
೪ + ೪ + ೪ = 12
೪ + ೪ + ೪ + ೪ + ೪ = 20

<b>ಕಂದದ ನಿಯಮಗಳು:</b>
1. ಇದರಲ್ಲಿ ವಿಷಮ ಸ್ಥಾನಗಳಲ್ಲಿ ಅಂದರೆ <b>1, 3, 5, 7</b> ಹಾಗೇ <b>9, 11, 13, 15</b> ನೇ ಗಣಗಳಲ್ಲಿ ಜಗಣ ಅಂದರೆ ಮಧ್ಯ ಗುರು ಇರುವ <b>'U _ U'</b> ವಿನ್ಯಾಸ ಬರಬಾರದು.
2. ಎರಡನೇ ಹಾಗೂ ನಾಲ್ಕನೇ ಸಾಲಿನ ಕೊನೆಯ ಗಣವು ಅಂತ್ಯ ಗುರು ಯುಕ್ತವಾಗಿರಬೇಕು. ಅಂದರೆ <b>'U U _'</b> ಅಥವಾ <b>'_ _'</b> ಈ ವಿನ್ಯಾಸಗಳು ಬರಬಹುದು.
3. <b>6 ನೇ</b> ಹಾಗೂ <b>14 ನೇ</b> ಗಣಗಳು ಮಾತ್ರ ಮಧ್ಯ ಗುರು ಇರುವ ಜಗಣ ವಿನ್ಯಾಸ <b>'U _ U'</b> ಅಥವಾ ಸರ್ವ ಲಘುಗಳಿರುವ ವಿನ್ಯಾಸ <b>'U U U U'</b>ಬರಬಹುದು. ಸರ್ವ ಲಘುಗಳಿರುವ ವಿನ್ಯಾಸ ಬಂದಲ್ಲಿ ಮೊದಲ ಅಕ್ಷರದ ನಂತರ ಯತಿ ಬರಲೇಬೇಕು.
4. ಉಳಿದ ಗಣಗಳಲ್ಲಿ ಯಾವ ರೀತಿಯ ವಿನ್ಯಾಸ ಬೇಕಾದರೂ ಬರಬಹುದು.
</pre>
{% endblock %}
