<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಉದಾಹರಣೆ:</b>

UU_U| UU_U| _U_| UU_U|
ಕುಣಿಯುತ್ತೆ |ಮಣಿಯುತ್ತೆ |ಧೂಪಮಂ |ನಲಿದಿತ್ತು|

UU_U| __U| _UUU|_ _U|
ತಣಿಯುತ್ತೆ |ತೂಗುತ್ತೆ |ಆರತಿಗಳಂ| ಪೊತ್ತು|

__U| UU_U| _U_| UU_U|
ಆರೋಗ |ಣೆಯನಿತ್ತು |ವೀಳೆಯಂ |ಗಳನಿತ್ತು|

UU_U|_ _U|__U|_ _U|
ಪೊಸಗಬ್ಬಮಂ| ಗದ್ಯಪ|ದ್ಯಂಗಳಂ| ಪೇಳ್ದು|

ಮೇಲಿನ ಈ ಲಲಿತ ರಗಳೆಯ ಪದ್ಯದ ಪ್ರತಿಯೊಂದು ಸಾಲಿನಲ್ಲಿಯೂ ಐದು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳಿವೆ. ಎರಡೆರಡು ಸಾಲುಗಳಲ್ಲಿ ಆದಿಪ್ರಾಸ ನಿಯಮವಿದೆ. ಅಂತ್ಯಪ್ರಾಸವೂ ಎರಡೆರಡು ಸಾಲುಗಳಿಗೆ ಬೇರೆ ಬೇರೆಯಾಗಿಯೇ ಇದೆ. ಈ ರೀತಿಯಲ್ಲಿ ಪಾದ(ಸಾಲು)ಗಳು ಇಂತಿಷ್ಟೇ ಇರಬೇಕೆಂಬ ನಿಯಮವಿಲ್ಲದೆ, ಪ್ರತಿಯೊಂದು ಪಾದದಲ್ಲೂ ಐದೈದು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳನ್ನಿಟ್ಟು ಎರಡೆರಡು ಸಾಲುಗಳಲ್ಲಿ ಪ್ರಾಸ ನಿಯಮವನ್ನು ಮುಖ್ಯವಾಗಿ ಆದಿಯಲ್ಲಿ ಪಾಲಿಸಿಕೊಂಡು ಬರೆಯಲ್ಪಟ್ಟ ಪದ್ಯಗಳು ಲಲಿತ ರಗಳೆಗಳೆನಿಸುವುವು. ಇದರಲ್ಲಿ <b>'U _ U U'</b> ಮತ್ತು <b>'U _ _'</b>, ಲಲಿತ ರಗಳೆಯ ಯಾವ ಗಣದಲ್ಲಿಯೂ ಬರಕೂಡದು. ಅಂತ್ಯ ಪ್ರಾಸದ ನಿಯಮವೂ ಎರಡೆರಡು ಸಾಲುಗಳಿಗೆ ಇರಬಹುದು. ಕೆಲವು ಕಡೆ ಆದಿಪ್ರಾಸವಿಲ್ಲದೆ ಕೇವಲ ಅಂತ್ಯಪ್ರಾಸವೂ ಇರಬಹುದು. ಇಂಥ ಉದಾಹರಣೆಗಳು ತೀರ ಕಡಿಮೆ.
</pre>
{% endblock %}
