<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಉದಾಹರಣೆ:</b>

UU_| _UU| UU_|_UU|
ಜಡೆಗಳ್| ಬೆಂಬಳಿ |ವಿಡಿದಾ|ಡುತ್ತಿರೆ|

UU_| UUUU| __|_UU|
ಮುಡಿಯೊಳ್| ಸುರನದಿ |ತುಳ್ಕಾ|ಡುತ್ತಿರೆ|

UU_| UUUU| __|_UU|
ಜಡೆಯೊಳ್| ಶಶಿಕಳೆ |ಯಲ್ಲಾ|ಡುತ್ತಿರೆ|

UU_| UU_| UU_|_UU|
ಕಡುಚೆ |ಲ್ವಳಕಂ |ಕುಣಿದಾ|ಡುತ್ತಿರೆ|

ಮೇಲಿನ ಮಂದಾನಿಲ ರಗಳೆಯ ಪದ್ಯದಲ್ಲಿ ಪ್ರತಿಯೊಂದು ಪಾದದಲ್ಲೂ ನಾಲ್ಕು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳಿವೆ. ಮೊದಲೆರಡು ಸಾಲುಗಳಲ್ಲಿ <b>‘ಡ್’</b> ಪ್ರಾಸಾಕ್ಷರವೂ, ಉಳಿದೆರಡು ಸಾಲುಗಳಲ್ಲಿ <b>‘ಖ್’</b> ಪ್ರಾಸಾಕ್ಷರವೂ ಇದೆ. ಅಂತ್ಯ ಪ್ರಾಸವೂ ಎರಡೆರಡು ಸಾಲುಗಳಲ್ಲಿ ಬೇರೆ ಬೇರೆ ಇದೆ. ಹೀಗೆ ನಾಲ್ಕು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣ ಪ್ರತಿ ಪಾದದಲ್ಲೂ ಬಂದು ಎರಡೆರಡು ಸಾಲುಗಳಿಗೆ ಪ್ರಾಸ ನಿಯಮವಿರುವ ಪದ್ಯ ಜಾತಿಗೆ ಮಂದಾನಿಲ ರಗಳೆಯೆನ್ನುವರು. ಅಂತ್ಯಪ್ರಾಸವೂ ಕೆಲವು ಕಡೆ ಇರುವುದುಂಟು.
</pre>
{% endblock %}

<!-- 
    Mandanila Ragale: 
    2 types: 

    Type-1: 
    4 matras -> 4 ganas.

    Type-2: 
    3,5,3,5 matras -> 4 ganas. Also 'U_' gana should not come anywhere in the mandanila ragale.
-->
