<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ರಗಳೆ</b> ಎಂಬುದು <b>‘ರಘಟಾ’</b> ಎಂಬ ಸಂಸ್ಕೃತ ಶಬ್ದದ ತದ್ಭವ ಪದ. ಕನ್ನಡದಲ್ಲಿ ಸಾಮಾನ್ಯವಾಗಿ ಉತ್ಸಾಹ ರಗಳೆ, ಮಂದಾನಿಲ ರಗಳೆ, ಲಲಿತ ರಗಳೆ ಎಂದು ಮೂರು ವಿಧವಾದ ರಗಳೆಗಳು ಪ್ರಸಿದ್ಧವಾಗಿವೆ. ರಗಳೆಯ ಪದ್ಯಗಳಲ್ಲಿ ಇದುವರೆಗೆ ಹೇಳಿದ ನಾಲ್ಕು ಅಥವಾ ಆರು ಸಾಲುಗಳ ಪದ್ಯಗಳಂತೆ, ಇಷ್ಟೇ ಸಾಲುಗಳಿರಬೇಕೆಂಬ ನಿಯಮವೇ ಇಲ್ಲ. ಎಷ್ಟು ಬೇಕಾದರೂ ಸಾಲುಗಳು ಹಾಗೆಯೇ ಬೆಳೆಯುತ್ತ ಹೋಗಬಹುದು. ಆದರೆ ಎಲ್ಲ ಸಾಲುಗಳೂ ಸಮಾನವಾದ ಮಾತ್ರಾ ಗಣಗಳಿಂದ ಕೂಡಿರುತ್ತವೆ ಮತ್ತು ಎರಡೆರಡು ಸಾಲುಗಳಲ್ಲಿ ಪ್ರಾಸದ ನಿಯಮವಿರುತ್ತದೆ. ಅಂತ್ಯಪ್ರಾಸವೂ ಇರುವುದುಂಟು.

<b>ಕನ್ನಡ ಸಾಹಿತ್ಯದಲ್ಲಿ ಬಳಕೆಯಲ್ಲಿದ್ದ ರಗಳೆಗಳು ಇವು:</b>
1. <a href="{{ url_for('home_bp.chandassu_bp.ragale_bp.utsaha')}}">ಉತ್ಸಾಹ ರಗಳೆ</a>
2. <a href="{{ url_for('home_bp.chandassu_bp.ragale_bp.mandanila')}}">ಮಂದಾನಿಲ ರಗಳೆ</a>
3. <a href="{{ url_for('home_bp.chandassu_bp.ragale_bp.lalita')}}">ಲಲಿತ ರಗಳೆ</a>
</pre>
{% endblock %}
