<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಉದಾಹರಣೆ:</b>

U U U|U _ | _U|_U|
ಕುಳಿವ |ಪೊಗೋ|ಳಂಗ|ಳಲ್ಲಿ|

UUU| _U|_U|_U|
ತಳಿರ |ಕಾವ|ಣಂಗ|ಳಲ್ಲಿ|

_U| _U|_U| _U|
ತುಂಬಿ |ವಿಂಡಿ|ನಂತೆ |ಪಾಡಿ|

_U|_U| _U| _U|
ಜಕ್ಕ|ವಕ್ಕಿ |ಯಂತೆ |ಕೂಡಿ|

ನಾಲ್ಕು ಸಾಲುಗಳುಳ್ಳ ಈ ಉತ್ಸಾಹರಗಳೆಯಲ್ಲಿ ಪ್ರತಿಯೊಂದು ಸಾಲಿನಲ್ಲೂ ಮೂರು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳುಂಟು. ಮೊದಲಿನ ಎರಡು ಸಾಲುಗಳಲ್ಲಿ ಆದಿಪ್ರಾಸವೂ ಇದೆ, ಅಂತ್ಯಪ್ರಾಸವೂ ಇದೆ. ಇನ್ನೆರಡು ಸಾಲುಗಳಲ್ಲಿ ಆದಿಪ್ರಾಸವಿಲ್ಲ, ಅಂತ್ಯಪ್ರಾಸವಿದೆ. ಕೆಲವು ಕಡೆ ಹೀಗೂ ಇರುವುದುಂಟು. ಆದರೆ ಆದಿಪ್ರಾಸವಿರುವುದೇ ಹೆಚ್ಚು. ಹೀಗೆ ಎರಡೆರಡು ಸಾಲುಗಳಲ್ಲಿ ಪ್ರಾಸ ನಿಯಮವಿಟ್ಟುಕೊಂಡು ಮೂರು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳ ಗಣನಿಯಮದಿಂದ ಸಾಲುಗಳ ನಿಯಮವಿಲ್ಲದೆ ಇರುವ ಪದ್ಯ ಜಾತಿಯೇ ಉತ್ಸಾಹರಗಳೆಯೆನಿಸುವುದು.
</pre>
{% endblock %}

<!-- 
    Utsaha Ragale: 
    3 types: 

    Type-1: 
    3 mathras -> 8 ganas. Also 'U_' gana should not come anywhere in the utsaha ragale.

    Type-2: 
    3 mathras -> 4 ganas.

    Type-3: 
    3 mathras -> 3 ganas + one Guru (_).
-->
