<!DOCTYPE html>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a href="{{ url_for('home_bp.home')}}"
          ><h4 class="header-text-size">
            <b><font color="red">ಕನ್ನಡ ಛಂದಸ್ಸು</font></b>
          </h4></a
        >
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          ><h4 class="header-text-size">
            <font color="white">ಗಣಗಳು</font><span class="caret"></span></h4
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ url_for('home_bp.gana_bp.gana')}}"
              ><h4 class="header-text-size">ಗಣಗಳು</h4></a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ url_for('home_bp.gana_bp.matra_gana')}}"
              ><h4 class="header-text-size">ಮಾತ್ರಾ ಗಣ</h4></a
            >
          </li>
          <li>
            <a href="{{ url_for('home_bp.gana_bp.akshara_gana')}}"
              ><h4 class="header-text-size">ಅಕ್ಷರ ಗಣ</h4></a
            >
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          ><h4 class="header-text-size">
            <font color="white">ಛಂದಸ್ಸು</font><span class="caret"></span></h4
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ url_for('home_bp.chandassu_bp.chandassu')}}"
              ><h4 class="header-text-size">ಛಂದಸ್ಸು</h4></a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ url_for('home_bp.chandassu_bp.kandapadya')}}"
              ><h4 class="header-text-size">ಕಂದ ಪದ್ಯ</h4></a
            >
          </li>
          <li class="dropdown-submenu">
            <a
              class="dropdown-toggle nested-dropdown"
              data-toggle="dropdown"
              href="#"
              ><h4 class="header-text-size">
                <font color="black">ಷಟ್ಪದಿ</font><span class="caret"></span></h4
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a
                  href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.shatpadi')}}"
                  ><h4 class="header-text-size">ಷಟ್ಪದಿ</h4></a
                >
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.shara')}}"
                  ><h4 class="header-text-size">ಶರ</h4></a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.kusuma')}}"
                  ><h4 class="header-text-size">ಕುಸುಮ</h4></a
                >
              </li>
              <li>
                <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.bhoga')}}"
                  ><h4 class="header-text-size">ಭೋಗ</h4></a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.bhamini')}}"
                  ><h4 class="header-text-size">ಭಾಮಿನೀ</h4></a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.vardhaka')}}"
                  ><h4 class="header-text-size">ವಾರ್ಧಕ</h4></a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.parivardhini')}}"
                  ><h4 class="header-text-size">ಪರಿವರ್ಧಿನೀ</h4></a
                >
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a
              class="dropdown-toggle nested-dropdown"
              data-toggle="dropdown"
              href="#"
              ><h4 class="header-text-size">
                <font color="black">ರಗಳೆ</font><span class="caret"></span></h4
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ url_for('home_bp.chandassu_bp.ragale_bp.ragale')}}"
                  ><h4 class="header-text-size">ರಗಳೆ</h4></a
                >
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ url_for('home_bp.chandassu_bp.ragale_bp.utsaha')}}"
                  ><h4 class="header-text-size">ಉತ್ಸಾಹ</h4></a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('home_bp.chandassu_bp.ragale_bp.mandanila')}}"
                  ><h4 class="header-text-size">ಮಂದಾನಿಲ</h4></a
                >
              </li>
              <li>
                <a href="{{ url_for('home_bp.chandassu_bp.ragale_bp.lalita')}}"
                  ><h4 class="header-text-size">ಲಲಿತ</h4></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          ><h4 class="header-text-size">
            <font color="white">ವೃತ್ತಗಳು</font><span class="caret"></span></h4
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.vrutta')}}"
              ><h4 class="header-text-size">ವೃತ್ತಗಳು</h4></a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.utpala_mala')}}"
              ><h4 class="header-text-size">ಉತ್ಪಲಮಾಲಾ</h4></a
            >
          </li>
          <li>
            <a
              href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.champaka_mala')}}"
              ><h4 class="header-text-size">ಚಂಪಕಮಾಲಾ</h4></a
            >
          </li>
          <li>
            <a
              href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.shardula_vikreedita')}}"
              ><h4 class="header-text-size">ಶಾರ್ದೂಲವಿಕ್ರೀಡಿತ</h4></a
            >
          </li>
          <li>
            <a
              href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.mattebha_vikreedita')}}"
              ><h4 class="header-text-size">ಮತ್ತೇಭವಿಕ್ರೀಡಿತ</h4></a
            >
          </li>
          <li>
            <a href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.sragdhara')}}"
              ><h4 class="header-text-size">ಸ್ರಗ್ಧರಾ</h4></a
            >
          </li>
          <li>
            <a
              href="{{ url_for('home_bp.chandassu_bp.vrutta_bp.maha_sragdhara')}}"
              ><h4 class="header-text-size">ಮಹಾಸ್ರಗ್ಧರಾ</h4></a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ url_for('home_bp.home')}}"
          ><h4 class="header-text-size">
            <font color="white">ಪರೀಕ್ಷಿಸು</font>
          </h4></a
        >
      </li>
      <li>
        <a href="{{ url_for('home_bp.home')}}"
          ><h4 class="header-text-size">
            <font color="white">ಅಭ್ಯಾಸ</font>
          </h4></a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{{ url_for('home_bp.about')}}"
          ><h4 class="header-text-size">
            <font color="yellow">ಸೃಷ್ಟಿಕರ್ತ</font>
          </h4></a
        >
      </li>
    </ul>
  </div>
</nav>
