<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಭಾಮಿನೀ ಷಟ್ಪದಿ</b>ಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು. ಕುಮಾರವ್ಯಾಸನ ಗದುಗಿನ ಭಾರತವಿರುವುದು ಈ ಛಂದಸ್ಸಿನಲ್ಲಿಯೆ. 

ಭಾಮಿನೀ ಷಟ್ಪದಿಯ ಪದ್ಯವೊಂದರಲ್ಲಿ ಆರು ಸಾಲಿಗಳಿರುತ್ತವೆ. ಮೂರನೆಯ,ಆರನೆಯ ಸಾಲುಗಳಲ್ಲಿ ೭ ಮಾತ್ರೆಗಳ ಮೂರು ಗಣಗಳೂ ಹಾಗು ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಬರುತ್ತದೆ (ಲಘು ಬಂದರೂ ಗುರು ಎಂದುಕೊಳ್ಳಬೇಕು). ಮಿಕ್ಕ ಸಾಲುಗಳಲ್ಲಿ ೭ ಮಾತ್ರೆಗಳ ಎರಡು ಗಣಗಳಿರುತ್ತವೆ. ಮತ್ತೊಂದು ಪ್ರಮುಖ ನಿಯಮವೆಂದರೆ, ೭ ಮಾತ್ರೆಗಳ ಗಣಗಳು ಕಡ್ಡಾಯವಾಗಿ ೩+೪ ಮಾದರಿಯಲ್ಲಿರಬೇಕು. ಅಂದರೆ ೩ ಮಾತ್ರೆಯ ಗಣದ ನಂತರ ೪ ಮಾತ್ರೆಯ ಗಣವು ಬಂದು, ಒಟ್ಟು ೭ ಮಾತ್ರೆಗಳ ಗಣವಾಗಬೇಕು. ಪದ್ಯವು ಆದಿಪ್ರಾಸದಿಂದ ಕೂಡಿರುತ್ತದೆ. ಇದರಲ್ಲಿ <b>'U _'</b> ಮತ್ತು <b>'U _ U'</b>, ಭಾಮಿನೀ ಷಟ್ಪದಿಯ ಯಾವ ಗಣದಲ್ಲಿಯೂ ಬರಕೂಡದು.

ಉದಾಹರಣೆಯಾಗಿ ಗದುಗಿನ ಭಾರತದ ಈ ಪ್ರಸಿದ್ಧ ಪದ್ಯವನ್ನು ನೋಡಿ.

<b>ಉದಾಹರಣೆ:</b>

ವೇದ ಪುರುಷನ ಸುತನ ಸುತನ ಸ
ಹೋದರನ ಹಮ್ಮಗನ ಮಗನ ತ
ಳೋದರಿಯ ಮಾತುಳನ ಮಾವನ ನತುಳಭುಜಬಲದಿ
ಕಾದು ಗೆಲಿದನನಣ್ಣನವ್ವೆಯ
ನಾದಿನಿಯ ಜಠರದಲಿ ಜನಿಸಿದ
ನಾದಿಮೂರುತಿ ಸಲಹೊ ಗದುಗಿನ ವೀರನಾರಯಣ

<b>ಈ ಪದ್ಯವನ್ನು ಗಣಗಳಾಗಿ ವಿಂಗಡಿಸಿದಾಗ ಹೀಗೆ ಕಾಣುವುದು:</b>

_U | U U U U| U U U|U U UU|
ವೇದ| ಪುರುಷನ | ಸುತನ| ಸುತನ ಸ
_ U | UU_ | U U U|U UUU|
ಹೋದ|ರನ ಹೆ|ಮ್ಮಗನ| ಮಗನ ತ
_ U | U U _ | U U U| _ U U |U U U|UUUU|_
ಳೋದ|ರಿಯ ಮಾ|ತುಳನ| ಮಾವನ|ನತುಳ|ಭುಜಬಲ|ದಿ
_ U | UUUU| _U |_U U|
ಕಾದು| ಗೆಲಿದನ|ನಣ್ಣ|ನವ್ವೆಯ
_ U| U U U U|UUU| U U UU|
ನಾದಿ|ನಿಯ ಜಠ|ರದಲಿ| ಜನಿಸಿದ
_ U| _ U U| U U U| U U U U| _U | _U U| _
ನಾದಿ|ಮೂರುತಿ | ಸಲಹೊ| ಗದುಗಿನ | ವೀರ|ನಾರಯ|ಣ

<b>'|' ಸಂಜ್ಞೆ ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.</b> 

<b>ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣ ವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ:</b>

೩|೪|೩|೪
೩|೪|೩|೪
೩|೪|೩|೪|೩|೪|-
೩|೪|೩|೪
೩|೪|೩|೪
೩|೪|೩|೪|೩|೪|-
</pre>
{% endblock %}
