<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಭೋಗ ಷಟ್ಪದಿ</b>ಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು. ಗುರುಬಸವನ 'ವೃಷಭಗೀತೆ'ಕಾವ್ಯಭೋಗ
ಷಟ್ಪದಿಯಲ್ಲಿದೆ.

ಭೋಗ ಷಟ್ಪದಿಯಲ್ಲಿ ಆರು ಪಾದಗಳಿರುತ್ತವೆ. <b>1, ೨, ೪, ೫ ನೆಯ</b> ಸಾಲುಗಳು ಸಮನಾಗಿದ್ದು, ೩ ಮಾತ್ರೆಯ ೪ ಗಣಗಳಿರುತ್ತವೆ. <b>೩ ಮತ್ತು ೬ ನೆಯ</b> ಪಾದಗಳಲ್ಲಿ ೩ ಮಾತ್ರೆಯ ೬ ಗಣಗಳಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಬರುತ್ತದೆ (ಲಘು ಬಂದರೂ ಗುರು ಎಂದುಕೊಳ್ಳಬೇಕು).

<b>ಉದಾಹರಣೆಗೆ:</b>

ತಿರುಕನೋರ್ವನೂರ ಮುಂದೆ
ಮುರುಕು ಧರ್ಮಶಾಲೆಯಲ್ಲಿ
ವೊರಗಿರುತ್ತಲೊಂದು ಕನಸಕಂಡನೆಂತನೆ
ಪುರದ ರಾಜಸತ್ತನವಗೆ
ವರ ಕುಮಾರರಿಲ್ಲದಿರಲು
ಕರಿಯ ಕೈಗೆ ಕುಸುಮ ಮಾಲೆಯಿತ್ತು ಪುರದೊಳು

<b>ಇದರ ಛಂದಸ್ಸಿನ ಪ್ರಸ್ತಾರ:</b>

UUU|_ U|_ U |_ U|
ತಿರುಕ|ನೋರ್ವ|ನೂರ |ಮುಂದೆ|
UUU |_ U|_ U|_ U|
ಮುರುಕು |ಧರ್ಮ|ಶಾಲೆ|ಯಲ್ಲಿ|
UUU|_ U|_ U |UUU|_ U|_ U|_
ವೊರಗಿ|ರುತ್ತ|ಲೊಂದು |ಕನಸ|ಕಂಡ|ನೆಂತ|ನೆ
UUU |_ U|_ U|UUU|
ಪುರದ |ರಾಜ|ಸತ್ತ|ನವಗೆ|
UU U|_ U|_ U|UUU|
ವರ ಕು|ಮಾರ|ರಿಲ್ಲ|ದಿರಲು|
UUU |_ U |UUU |_ U|_ U |UUU|_
ಕರಿಯ |ಕೈಗೆ |ಕುಸುಮ |ಮಾಲೆ|ಯಿತ್ತು |ಪುರದೊ|ಳು

<b>'|' ಸಂಜ್ಞೆಯು ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.</b> 

<b>ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ:</b>

೩|೩|೩|೩
೩|೩|೩|೩
೩|೩|೩|೩|೩|೩|-
೩|೩|೩|೩
೩|೩|೩|೩
೩|೩|೩|೩|೩|೩|-
</pre>
{% endblock %}
