<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಕುಸುಮ ಷಟ್ಪದಿ</b>ಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು. ಗುರುಬಸವನ(೧೪೩೦) 'ಮನೋವಿಜಯ' ಕಾವ್ಯ ಕುಸುಮ ಷಟ್ಪದಿಯಲ್ಲಿದೆ.

ಕುಸುಮ ಷಟ್ಪದಿಯಲ್ಲಿ ಆರು ಪಾದಗಳಿರುತ್ತವೆ. <b>1, ೨, ೪, ೫ ನೆಯ</b> ಸಾಲುಗಳು ಸಮನಾಗಿದ್ದು, ೫ ಮಾತ್ರೆಯ ಎರಡು ಗಣಗಳಿರುತ್ತವೆ. <b>೩ ಮತ್ತು ೬ ನೆಯ</b> ಪಾದಗಳಲ್ಲಿ ೫ ಮಾತ್ರೆಯ ೩ ಗಣಗಳಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಬರುತ್ತದೆ (ಲಘು ಬಂದರೂ ಗುರು ಎಂದುಕೊಳ್ಳಬೇಕು). ಇದರಲ್ಲಿ <b>'U _ U U'</b> ಮತ್ತು <b>'U _ _'</b>, ಕುಸುಮ ಷಟ್ಪದಿಯ ಯಾವ ಗಣದಲ್ಲಿಯೂ ಬರಕೂಡದು.

<b>ಉದಾಹರಣೆ:</b>

ನಾಡುಮನ ಸಿಜನೊಲವಿ
ನಾಡು ವೆಡೆ ಸಂತತಂ
ಬೀಡು ರತಿ ಪತಿಗೆ ಸತತ ನಿಧಾನವು
ನೋಡಿದ ನಿಮಿಷ ಪತಿಗೆ
ಮಾಡುವುದು ವಿನಯವನು
ನಾಡಾದಿಯವರ್ಗೆ ಬಣ್ಣಿಸಲು ಮೊಗ್ಗೇ

<b>ಇದರ ಛಂದಸ್ಸಿನ ಪ್ರಸ್ತಾರ:</b>

_ U U U |U U U U U|
ನಾಡುಮನ |ಸಿಜನೊಲವಿ|
_ U U U |_ U _|
ನಾಡು ವೆಡೆ |ಸಂತತಂ |
_ U U U |UUUUU| U U_ U| _
ಬೀಡು ರತಿ |ಪತಿಗೆ ಸತ|ತ ನಿಧಾನ|ವು|
_ U U U |U U U UU|
ನೋಡಿದ ನಿ|ಮಿಷ ಪತಿಗೆ|
_ U U U | U U U U U|
ಮಾಡುವುದು |ವಿನಯವನು|
_ _U | U U U _ |UUU _ |_
ನಾಡಾದಿ|ಯವರ್ಗೆ ಬ|ಣ್ಣಿಸಲು ಮೊ|ಗ್ಗೇ

<b>'|' ಸಂಜ್ಞೆಯು ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.</b> 

<b>ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣ ವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ:</b>

೫|೫
೫|೫|೫|-
೫|೫
೫|೫
೫|೫|೫|-
</pre>
{% endblock %}
