<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಪರಿವರ್ಧಿನೀ ಷಟ್ಪದಿ</b>ಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು.

ಪರಿವರ್ಧಿನೀ ಷಟ್ಪದಿಯಲ್ಲಿ ಆರು ಪಾದಗಳಿರುತ್ತವೆ. <b>1, ೨, ೪, ೫ ನೆಯ</b> ಸಾಲುಗಳು ಸಮನಾಗಿದ್ದು, ೪ ಮಾತ್ರೆಯ ೪ ಗಣಗಳಿರುತ್ತವೆ. <b>೩ ಮತ್ತು ೬ ನೆಯ</b> ಪಾದಗಳಲ್ಲಿ ೪ ಮಾತ್ರೆಯ ೬ ಗಣಗಳಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಬರುತ್ತದೆ (ಲಘು ಬಂದರೂ ಗುರು ಎಂದುಕೊಳ್ಳಬೇಕು).

<b>ಉದಾಹರಣೆಗೆ:</b>

ಸ್ಮರವಾಜ್ಯದ ಮೈಸಿರಿ ಶೃಂಗಾರದ
ಶರನಿಧಿರತಿ ನಾಟ್ಯದರಂಗಸ್ಥಳ
ವಿರಹದ ನೆಲೆವೀಡೋಪರಕೂರಾಟದ ಕೊಸರಿನ ಗೊತ್ತು
ಸರಸರ ಸಂತವಣೆಯ ಮನೆ ಸುಗ್ಗಿಯ
ಪೊರವಾಗರ ಭಾವಾಲಯ ವಪ್ಪಂ
ತಿರೆಪೇರೆದನ ಮರುಕವನು ದೇಪಮಹೀಪತಿ ಕನ್ನಡಿಸಿ

<b>ಇದರ ಛಂದಸ್ಸಿನ ಪ್ರಸ್ತಾರ:</b>

UU_ |UU _ |UU _ |_ UU|
ಸ್ಮರವಾ|ಜ್ಯದ ಮೈ|ಸಿರಿ ಶೃಂ|ಗಾರದ|
UUUU|UU _ |UU_ |_ UU|
ಶರನಿಧಿ|ರತಿ ನಾ|ಟ್ಯದರಂ|ಗಸ್ಥಳ|
UUUU |UU_ |_ UU|_ _ |UU UU|UU _ |_
ವಿರಹದ |ನೆಲೆವೀ|ಡೋಪರ|ಕೂರಾ|ಟದ ಕೊಸ|ರಿನ ಗೊ|ತ್ತು
UUUU |_ UU|UU UU |_ UU|
ಸರಸರ |ಸಂತವ|ಣೆಯ ಮನೆ |ಸುಗ್ಗಿಯ|
UU_ |UU _ |_ UU |_ _ |
ಪೊರವಾ|ಗರ ಭಾ|ವಾಲಯ |ವಪ್ಪಂ|
UU_ |UUU U|UUUU |_ UU|_ UU |_ UU|_
ತಿರೆಪೇ|ರೆದನ ಮ|ರುಕವನು |ದೇಪಮ|ಹೀಪತಿ |ಕನ್ನಡಿ|ಸಿ

<b>'|' ಸಂಜ್ಞೆಯು ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.

ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣ ವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ:</b>

೪|೪|೪|೪
೪|೪|೪|೪
೪|೪|೪|೪|೪|೪|-
೪|೪|೪|೪
೪|೪|೪|೪
೪|೪|೪|೪|೪|೪|-
</pre>
{% endblock %}
