<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಶರ ಷಟ್ಪದಿ</b>ಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು. ಶರವೇ ಷಟ್ಪದಿಯಲ್ಲಿ ಅತ್ಯಂತ ಚಿಕ್ಕದು.

ನಾಗವರ್ಮ ಹೇಳಿರುವ ಇದರ ಲಕ್ಷಣಗಳು. ಶರ ಷಟ್ಪದಿಯಲ್ಲಿ ಆರು ಪಾದಗಳಿರುತ್ತವೆ. <b>1, ೨, ೪, ೫ ನೆಯ</b> ಸಾಲುಗಳು ಸಮನಾಗಿದ್ದು, ೪ ಮಾತ್ರೆಯ ಎರಡು ಗಣಗಳಿರುತ್ತವೆ. <b>೩ ಮತ್ತು ೬ ನೆಯ</b> ಪಾದಗಳಲ್ಲಿ ೪ ಮಾತ್ರೆಯ ೩ ಗಣಗಳಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಬರುತ್ತದೆ (ಲಘು ಬಂದರೂ ಗುರು ಎಂದುಕೊಳ್ಳಬೇಕು). ಇದರಲ್ಲಿ ಮಧ್ಯೆ ಗುರುವಿನ ಅಂದರೆ ಜಗಣ (<b>'U _ U'</b>), ಶರ ಷಟ್ಪದಿಯ ಯಾವ ಗಣದಲ್ಲಿಯೂ ಬರಕೂಡದು.

<b>ಉದಾಹರಣೆ:</b>

ಈಶನ ಕರುಣೆಯ
ನಾಶಿಸು ವಿನಯದಿ
ದಾಸನ ಹಾಗೆಯೆ ನೀ ಮನವೇ
ಕ್ಲೇಶದ ವಿಧ ವಿಧ
ಪಾಶದ ಹರಿದು ವಿ
ಲಾಸದಿ ಸತ್ಯವ ತಿಳಿಯನವೇ

<b>ಇದರ ಛಂದಸ್ಸಿನ ಪ್ರಸ್ತಾರ:</b>

_ UU |UU U U |
ಈಶನ |ಕರುಣೆಯ|
_ UU |UU U U |
ನಾಶಿಸು |ವಿನಯದಿ|
_ UU |_ UU |_ UU |_
ದಾಸನ |ಹಾಗೆಯೆ |ನೀ ಮನ|ವೇ
_ UU |UU UU|
ಕ್ಲೇಶದ |ವಿಧ ವಿಧ|
_ UU |UUU U|
ಪಾಶದ |ಹರಿದು ವಿ|
_ UU |_ UU |UUUU |_
ಲಾಸದಿ |ಸತ್ಯವ |ತಿಳಿಯನ|ವೇ

<b>'|' ಸಂಜ್ಞೆಯು ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.</b>

<b>ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣ ವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ:</b>

೪|೪
೪|೪
೪|೪|೪|-
೪|೪
೪|೪
೪|೪|೪|-
</pre>
{% endblock %}
