<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಷಟ್ಪದಿ</b> ಎಂಬುದು ಛಂದಸ್ಸಿನ ಒಂದು ಪ್ರಕಾರ. ಪದ್ಯವೊಂದರಲ್ಲಿ ಆರು ಪಾದಗಳಿದ್ದರೆ ಅದು ಷಟ್ಪದಿ ಎನಿಸುತ್ತದೆ. ಪಾದಗಳ ಗಣ, ಮಾತ್ರಾ ಅಥವಾ ಅಕ್ಷರ ವಿನ್ಯಾಸಗಳನ್ನು ಹಿಡಿದು ಬೇರೆ ಬೇರೆ ರೀತಿಯ ಷಟ್ಪದಿಗಳಿವೆ.

ಆರು ಪಾದಗಳುಳ್ಳ ಪದ್ಯವು ಷಟ್ಪದಿಯೆನಿಸುಕೊಳ್ಳುತ್ತದೆ. ಇದರ <b>೧, ೨, ೪ ಮತ್ತು ೫ ನೇ</b> ಪಾದಗಳು ಪರಸ್ಪರ ಸಮನಾಗಿರುತ್ತದೆ. <b>೩ ಮತ್ತು ೬ ನೆಯ</b> ಪಾದಗಳು ಪರಸ್ಪರ ಸಮನಾಗಿರುತ್ತವೆ. ೩ ನೆಯ ಪಾದ ೧ ನೆಯ ಪಾದದ  ಒಂದೂವರೆಯಷ್ಟಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರುವಿನಿಂದ ಕೂಡಿರುತ್ತದೆ.

<b>ಕನ್ನಡ ಸಾಹಿತ್ಯದಲ್ಲಿ ಷಟ್ಪದಿ:</b>
ಕನ್ನಡ ಕಾವ್ಯದಲ್ಲಿ ಷಟ್ಪದಿಗಳನ್ನು ರಾಘವಾಂಕನು ಬಳಕೆಗೆ ತಂದನು. ಹಳಗನ್ನಡ ಸಾಹಿತ್ಯದಲ್ಲಿ ಕಂದ, ಖ್ಯಾತ ಕರ್ನಾಟಕ ವೃತ್ತಗಳು, ಹೇರಳವಾಗಿದ್ದರೆ ನಡುಗನ್ನಡ ಕಾಲದ ಸಾಹಿತ್ಯದಲ್ಲಿ ಷಟ್ಪದಿಗೆ ಮೊದಲ ಸ್ಥಾನ. ಕುಮಾರವ್ಯಾಸನ 'ಗದುಗಿನ ಭಾರತ' ವೆಂದೆ ಪ್ರಸಿದ್ಧವಾಗಿರುವ ಕರ್ಣಾಟ ಭಾರತ ಕಥಾಮಂಜರಿ, ಲಕ್ಷ್ಮೀಶಕವಿಯ ಜೈಮಿನಿ ಭಾರತ ಇವೆರಡೂ ಷಟ್ಪದಿ ಕಾವ್ಯಗಳೆ. ಮುದ್ದಣ ವಿರಚಿತ ಶ್ರೀರಾಮ ಪಟ್ಟಾಭಿಷೇಕ ಇರುವುದು ವಾರ್ಧಕ ಷಟ್ಪದಿಯಲ್ಲಿ.

<b>ಕನ್ನಡ ಸಾಹಿತ್ಯದಲ್ಲಿ ಬಳಕೆಯಲ್ಲಿದ್ದ ಷಟ್ಪದಿಗಳು ಇವು:</b>
1. <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.shara')}}">ಶರ</a>
2. <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.kusuma')}}">ಕುಸುಮ</a>
3. <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.bhoga')}}">ಭೋಗ</a>
4. <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.bhamini')}}">ಭಾಮಿನೀ</a>
5. <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.vardhaka')}}">ವಾರ್ಧಕ</a>
6. <a href="{{ url_for('home_bp.chandassu_bp.shatpadi_bp.parivardhini')}}">ಪರಿವರ್ಧಿನೀ</a>

ಇವುಗಳಲ್ಲಿ <b>ಭಾಮಿನೀ ಷಟ್ಪದಿ</b> ಜನಪ್ರಿಯ. ಗದುಗಿನ ಭಾರತವಿರುವುದು ಈ ಛಂದಸ್ಸಿನಲ್ಲಿಯೆ.

ಭಾಮಿನೀ ಷಟ್ಪದಿಯ ಪದ್ಯವೊಂದರಲ್ಲಿ ಆರು ಪಾದ (ಅಂದರೆ ಸಾಲು) ಗಳಿರುತ್ತವೆ. ಮೂರನೆಯ, ಆರನೆಯ ಸಾಲುಗಳಲ್ಲಿ ೭ ಮಾತ್ರೆಗಳ(೩+೪) ಮೂರುಗಣಗಳೂ ಮತ್ತು ಒಂದು ಗುರು ಇರುತ್ತವೆ. ಮಿಕ್ಕ ಸಾಲುಗಳಲ್ಲಿ ೭ ಮಾತ್ರೆಗಳ(೩+೪) ಎರಡು ಗಣಗಳಿರುತ್ತವೆ.

<b>ಉದಾಹರಣೆಯಾಗಿ ಗದುಗಿನ ಭಾರತದ ಈ ಪ್ರಸಿದ್ಧ ಪದ್ಯವನ್ನು ನೋಡಿ:</b>

ವೇದ ಪುರುಷನ | ಸುತನ ಸುತನ ಸ
ಹೋದರನ ಹೆ|ಮ್ಮಗನ ಮಗನ ತ
ಳೋದರಿಯ ಮಾ|ತುಳನ ಮಾವನ|ನತುಳಭುಜಬಲ|ದಿ
ಕಾದು ಗೆಲಿದನ|ನಣ್ಣನವ್ವೆಯ
ನಾದಿನಿಯ ಜಠ|ರದಲಿ ಜನಿಸಿದ
ನಾದಿಮೂರುತಿ|ಸಲಹೊ ಗದುಗಿನ|ವೀರನಾರಯ|ಣ

<b>'|' ಸಂಜ್ಞೆ ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.</b>

ಷಟ್ಪದಿಗಳೂ ಸೇರಿದಂತೆ ಹಲವಾರು ಛಂದೋಪ್ರಕಾರಗಳ ಲಕ್ಷಣಗಳ ಕೈಗೆಟುಕುವಂತಹ ವಿವರಣೆಯನ್ನು ಅ.ರಾ. ಮಿತ್ರರ 'ಛಂದೋಮಿತ್ರ' ದಲ್ಲಿ ಕಾಣಬಹುದು. ಷಟ್ಪದಿಗಳ ಉಗಮ ವಿಕಾಸಗಳ ಬಗ್ಗೆ ಸಾಕಷ್ಟು ಚರ್ಚೆಗಳು ನಡೆದಿವೆ. ಸೇಡಿಯಾಪು ಕೃಷ್ಣಭಟ್ಟರ, ಟಿ.ವಿ. ವೆಂಕಟಾಚಲ ಶಾಸ್ತ್ರಿಗಳ ಗ್ರಂಥಗಳಲ್ಲಿ ಈ ಬಗ್ಗೆ ಹೆಚ್ಚಿನ ಮಾಹಿತಿಯನ್ನು ಕಾಣಬಹುದು.
</pre>
{% endblock %}
