<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ವಾರ್ಧಕ ಷಟ್ಪದಿ</b>ಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು. ಮುದ್ದಣ ವಿರಚಿತ ಶ್ರೀರಾಮ ಪಟ್ಟಾಭಿಷೇಕ ಇರುವುದು ವಾರ್ಧಕ ಷಟ್ಪದಿಯಲ್ಲಿಯೇ.

ವಾರ್ಧಕ ಷಟ್ಪದಿಯಲ್ಲಿ ಆರು ಪಾದಗಳಿರುತ್ತವೆ. <b>1, ೨, ೪, ೫ ನೆಯ</b> ಸಾಲುಗಳು ಸಮನಾಗಿದ್ದು, ೫ ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳಿರುತ್ತವೆ. <b>೩ ಮತ್ತು ೬ ನೆಯ</b> ಪಾದಗಳಲ್ಲಿ ೫ ಮಾತ್ರೆಯ ಆರು ಗಣಗಳಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಇರುತ್ತದೆ. ಪದ್ಯವು ಆದಿಪ್ರಾಸದಿಂದ ಕೂಡಿರುತ್ತದೆ.

<b>ಉದಾಹರಣೆ:</b>

ಬಲ್ಗಯ್ಯ ನೃಪರಂಜಿ ತಡೆಯದೆರ ಘೂದ್ವಹನ
ಸೊಲ್ಗೇಳಿ ನಮಿಸಲಿಳೆಯೊಳ್ ಚರಿಸುತಧ್ವರದ
ನಲ್ಗುದುರೆ ಬಂದು ವಾಲ್ಮೀಕಿಯನಿಜಾಶ್ರಮದ ವಿನಿಯೋಗದು ಪವನದೊಳು
ಪುಲ್ಗಳಪ ಸುರ್ಗೆಳಸಿ ಪೊಕ್ಕಡಾ ತೋಟಗಾ
ವಲ್ಗೆತನ್ನೊಡನಾಡಿ ಗಳಕೂಡಿ ಲೀಲೆಮಿಗೆ
ಬಿಲ್ಗೊಂಡು ನಡೆತಂದ ವಂಕಂಡ ನರ್ಚಿತಸು ವಾಜಿಯಂ ವೀರಲವನು

<b>ಇದರ ಛಂದಸ್ಸಿನ ಪ್ರಸ್ತಾರ:</b>

_ _ U |UU_ U |UUUUU |_ UUU|
ಬಲ್ಗಯ್ಯ |ನೃಪರಂಜಿ |ತಡೆಯದೆರ |ಘೂದ್ವಹನ|
_ _ U |UUUUU|_ UUU|_ UUU|
ಸೊಲ್ಗೇಳಿ |ನಮಿಸಲಿಳೆ|ಯೊಳ್ ಚರಿಸು|ತಧ್ವರದ|
_ UUU |_ U _ |_ UUU|_ UUU |UU_ U|U UUUU|_
ನಲ್ಗುದುರೆ |ಬಂದು ವಾ|ಲ್ಮೀಕಿಯನಿ|ಜಾಶ್ರಮದ |ವಿನಿಯೋಗ|ದು ಪವನದೊ|ಳು
_ UUU |_ UUU |_ U_ |_ U_ |
ಪುಲ್ಗಳಪ |ಸುರ್ಗೆಳಸಿ |ಪೊಕ್ಕಡಾ |ತೋಟಗಾ|
_ U_ |UU_ U |UU_ U |_ UUU|
ವಲ್ಗೆತ|ನ್ನೊಡನಾಡಿ |ಗಳಕೂಡಿ |ಲೀಲೆಮಿಗೆ|
_ _ U |UU_ U |_ _ U |_ UUU |_ U_ |_ UUU|_
ಬಿಲ್ಗೊಂಡು |ನಡೆತಂದ |ವಂಕಂಡ |ನರ್ಚಿತಸು |ವಾಜಿಯಂ |ವೀರಲವ|ನು

<b>'|' ಸಂಜ್ಞೆಯು ಗಣ ವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.</b> 

<b>ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣ ವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ:</b>

೫|೫|೫|೫
೫|೫|೫|೫
೫|೫|೫|೫|೫|೫|-
೫|೫|೫|೫
೫|೫|೫|೫
೫|೫|೫|೫|೫|೫|-
</pre>
{% endblock %}
