<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
<b>ಕನ್ನಡ ಸಾಹಿತ್ಯದಲ್ಲಿ ಬಳಕೆಯಲ್ಲಿದ್ದ ಖ್ಯಾತಕರ್ಣಾಟಕ ವೃತ್ತಗಳು ಇವು:</b>
1. <a href="{{ url_for('home_bp.vrutta_bp.utpala_mala')}}">ಉತ್ಪಲಮಾಲಾ</a>
2. <a href="{{ url_for('home_bp.vrutta_bp.champaka_mala')}}">ಚಂಪಕಮಾಲಾ</a>
3. <a href="{{ url_for('home_bp.vrutta_bp.shardula_vikreedita')}}">ಶಾರ್ದೂಲವಿಕ್ರೀಡಿತ</a>
4. <a href="{{ url_for('home_bp.vrutta_bp.mattebha_vikreedita')}}">ಮತ್ತೇಭವಿಕ್ರೀಡಿತ</a>
5. <a href="{{ url_for('home_bp.vrutta_bp.sragdhara')}}">ಸ್ರಗ್ಧರಾವೃತ್ತ</a>
6. <a href="{{ url_for('home_bp.vrutta_bp.maha_sragdhara')}}">ಮಹಾಸ್ರಗ್ಧರಾವೃತ್ತ</a>
</pre>
{% endblock %}
