<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<div class="row">
  <div class="col-md-12 project-title">
    <p style="color: red">
      ನಿಯಮಾಧಾರಿತ ವಿಧಾನವನ್ನು ಬಳಸಿಕೊಂಡು ಕನ್ನಡ ಪದ್ಯಗಳಿಗೆ ಪ್ರಸ್ತಾರ ಗುರುತಿಸುವಿಕೆ ಹಾಗೂ
      ಛಂದಸ್ಸಿನ ವಿಶ್ಲೇಷಣೆ
    </p>
    <p style="color: darkgreen">
      Prosody analysis and identification of metrics for Kannada verses using
      rule-based approach
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>
          <b><h4>ಯೋಜನೆಯ ಮಾರ್ಗದರ್ಶಕರು (Project Guide)</h4></b>
        </center>
      </div>
      <div class="panel-body">
        <pre class="pre-wrap-about-page">
<font style="color: red;">ಡಾ. ಆರ್ ಜೆ ಪ್ರತಿಭಾ</font>     <font style="color: green;">Dr. R J Prathibha</font>
<font style="color: red;">ಸಹಾಯಕ ಪ್ರಾಧ್ಯಾಪಕಿ</font>     <font style="color: green;">Assistant Professor</font>


</pre>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>
          <b><h4>ಯೋಜನೆಯ ಸದಸ್ಯರು (Project Members)</h4></b>
        </center>
      </div>
      <div class="panel-body">
        <pre class="pre-wrap-about-page">
<font style="color: red;">ಅನುಪ್ ಶೆಟ್ಟಿ</font>      <font style="color: green;">Anup Shetty</font>     (4JC15IS005)
<font style="color: red;">ಜುನೈದ್ ಎಸ್</font>     <font style="color: green;">Juned S</font>          (4JC15IS015)
<font style="color: red;">ಶಶಾಂಕ್ ಬಿ ವಿ</font>    <font style="color: green;">Shashank B V</font>     (4JC15IS009)
<font style="color: red;">ಮಂಜು ಸ್ಕಂದ</font>     <font style="color: green;">Manju Skanda K</font>   (4JC15IS019)</pre>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 project-title">
    <pre class="pre-wrap-about-page">
<font style="color: red;">ಮಾಹಿತಿ ವಿಜ್ಞಾನ ಮತ್ತು ಎಂಜಿನಿಯರಿಂಗ್ ವಿಭಾಗ</font> <font style="color: green;">Department of Information Science and Engineering</font>
<font style="color: red;">ಶ್ರೀ ಜಯಚಾಮರಾಜೇಂದ್ರ ಇಂಜಿನಿಯರಿಂಗ್ ಕಾಲೇಜು, ಮೈಸೂರು</font> <font style="color: green;">Sri Jayachamarajendra College of Engineering, Mysuru</font></pre>
  </div>
</div>
{% endblock %}
