<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='styles/chandassu.css')}}">
<script src="{{url_for('static',filename='styles/bootstrap/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='styles/bootstrap.min.js')}}"></script>
<style>
body{
    background-color:#D3D3D3
}
#header{
    background-color: blue;
    height:60px;
    padding:5px;
}
textarea{
    width:538px;
    border:1px solid #aaa;
    height:350px;
    padding:20px;
    font-size:14pt;
    font-weight: bold;
    border:1px solid black;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}
h4{
font-size:150%;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
    <a><h4><font color=red><b>ಕನ್ನಡ-ಛಂದಸ್ಸು</b></font></h4></a>
    </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="{{ url_for('Home')}}"><h4>ಮುಖಪುಟ </h4></a></li>
<li><a href="{{ url_for('Laghu_Guru')}}"><h4><font color=white>ಲಘು-ಗುರು </font></h4></a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4><font color=white>ಛಂದಸ್ಸು</font><span class="caret"></span></h4></a>
<ul class="dropdown-menu">
<li><a href="{{ url_for('Kandapadya')}}"><h4>ಕಂದ ಪದ್ಯ</h4></a></li>
<li><a href="{{ url_for('Shatpadi')}}"><h4>ಷಟ್ಪದಿ</h4></a></li>
<li><a href="{{ url_for('Ragale')}}"><h4>ರಗಳೆ</h4></a></li>
</ul>
<li><a href="{{ url_for('Vrutta')}}"><h4><font color=white>ವೃತ್ತ</font></h4></a></li>
<li><a href="{{ url_for('Testing')}}"><h4><font color=white>ಪರೀಕ್ಷಿಸು </font></h4></a></li>
<li><a href="{{ url_for('exe1')}}"><h4><font color=white>ಅಭ್ಯಾಸ</font> </h4></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="{{ url_for('About')}}"><h4><font color=white>ಮಾಹಿತಿ</font> </h4></a></li>   
</ul>
  </div>
</nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" ><center><b><h1>ಕಂದ ಪದ್ಯ</h1></b><center></div>
    <div class="panel-body">
<h2><strong>ಕಂದ ಪದ್ಯ</strong></h2> </br>
<p><h3>	
<b>ಕಂದ ಪದ್ಯ</b> ಕನ್ನಡ ಸಾಹಿತ್ಯದ ವಿಶಿಷ್ಟ ಪ್ರಕಾರದ ಛಂದಸ್ಸಾಗಿದೆ.ಕನ್ನಡದ ಅನೇಕ ಕವಿಗಳು ವಿಫುಲವಾಗಿ ಇದನ್ನು ಬಳಸಿಕೊಂಡಿದ್ದಾರೆ.ಇದು</p> ಚತುರ್ಮಾತ್ರಾಗಣಗಳ ಗತಿಯಲ್ಲಿ ಬರುವ ಪ್ರಕಾರವಾಗಿದೆ.ಇದರಲ್ಲಿ ಮೊದಲ ಸಾಲಿನಲ್ಲಿ ಮೂರು 
ಗಣಗಳೂ ಎರಡನೇ ಸಾಲಿನಲ್ಲಿ ಐದು</P>ಗಣಗಳೂ ಪುನಃ ಮೂರನೇ ಸಾಲಿನಲ್ಲಿ ಮೂರು ಗಣಗಳೂ ನಾಲ್ಕನೇ ಸಾಲಿನಲ್ಲಿ ಐದು ಗಣಗಳೂ ಇರುತ್ತವೆ.ಎಲ್ಲಾ ಗಣಗಳು ನಾಲ್ಕು</p>ಮಾತ್ರೆಗಳಿಗೆ ವಿಭಾಗಿಸಲ್ಪಟ್ಟಿರುತ್ತವೆ.ಅದನ್ನು ಹೀಗೆ ತೋರಿಸಬಹುದು.
</p></br>
೪ + ೪ + ೪ =12</br>
೪ + ೪ + ೪ + ೪ + ೪ =20</br>
೪ + ೪ + ೪ =12</br>
೪ + ೪ + ೪ + ೪ + ೪ =20</br>
</p>
</br>
<p>
<strong>ಕಂದದ ನಿಯಮಗಳು:</strong></br></br>

1. ಇದರಲ್ಲಿ ವಿಷಮ ಸ್ಥಾನಗಳಲ್ಲಿ ಅಂದರೆ <b>1,3,5,7</b> ಹಾಗೇ <b>9,11,13,15</b> ನೇ ಗಣಗಳಲ್ಲಿ ಜಗಣ ಅಂದರೆ ಮಧ್ಯಗುರು ಇರುವ <b> 'U_U' </b></p>ವಿನ್ಯಾಸ ಬರಬಾರದು.</br></p>
2. ಎರಡನೇ ಹಾಗೂ ನಾಲ್ಕನೇ ಸಾಲಿನ ಕೊನೆಯ ಗಣವು ಅಂತ್ಯಗುರುಯುಕ್ತವಾಗಿರಬೇಕು.ಅಂದರೆ<b>  'UU_' </b> ಅಥವಾ <b> '_ _' </b>ಈ </p>ವಿನ್ಯಾಸಗಳು ಬರಬಹುದು.</br></p>
3. <b>6ನೇ</b>  ಹಾಗೂ  <b>14ನೇ</b> ಗಣಗಳು ಮಾತ್ರ ಮಧ್ಯ ಗುರು ಇರುವ ಜಗಣ ವಿನ್ಯಾಸ <b>'U_U'</b> ಅಥವಾ ಸರ್ವಲಘುಗಳಿರುವ ವಿನ್ಯಾಸ <b> 'UUUU' </b></p>ಬರಬಹುದು. ಸರ್ವಲಘುಗಳಿರುವ ವಿನ್ಯಾಸ ಬಂದಲ್ಲಿ ಮೊದಲ ಅಕ್ಷರದ ನಂತರ ಯತಿ ಬರಲೇಬೇಕು.</br></p>
4. ಉಳಿದ ಗಣಗಳಲ್ಲಿ ಯಾವ ರೀತಿಯ ವಿನ್ಯಾಸ ಬೇಕಾದರೂ ಬರಬಹುದು.</br>
</p></br>
<p>
<strong>ಉದಾಹರಣೆ:</strong></br></br>

U U U U | _ _ |U U U U |</br></P>
ಒಡೆಯಲ |ಜಾಂಡಂ | ಕುಲಗಿರಿ |</br></br>

U U _  | U U _ |U _ U|UU_   | U U_|</br></P>
ಕೆಡೆಯಲ್| ಪಿಳಿಯ|ಲ್ಕೆ ಧಾತ್ರಿ|ದಿವಿಜರ್| ನಡುಗ|</br></br>

U U U U| U _ U  | _ U U|</br></P>
ಲ್ಕೊಡರಿಸು |ವಿನಂ ಜ | ಟಾಸುರ|</br></br>

U _ U | UU_ |U _ U| _ _ | _ _|</br></P>
ಹಿಡಿಂಬ | ಬಕವೈ|ರಿ ಸಿಂಹ|ನಾದಂ| ಗೆಯ್ದಂ||</br></br>
</h3></p>
<div class="panel-footer"><ul class="pager">
    <li class="previous"><a href="{{ url_for('Chandassu')}}">ಹಿಂದಿನ ಪುಟ</a></li>
    <li class="next"><a href="{{ url_for('Shatpadi')}}">ಮುಂದಿನ ಪುಟ</a></li>
</div>
</div>
</div>
</div>
<div class="footer">
<p>
</p>
</br>
</div>

</body>
</html>

