<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='styles/chandassu.css')}}">
<script src="{{url_for('static',filename='styles/bootstrap/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='styles/bootstrap.min.js')}}"></script>
<style>
body{
    background-color:#D3D3D3
}
#header{
    background-color: blue;
    height:60px;
    padding:5px;
}
textarea{
    width:538px;
    border:1px solid #aaa;
    height:350px;
    padding:20px;
    font-size:14pt;
    font-weight: bold;
    border:1px solid black;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}
h4{
font-size:150%;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
    <a><h4><font color=red><b>ಕನ್ನಡ-ಛಂದಸ್ಸು</b></font></h4></a>
    </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="{{ url_for('Home')}}"><h4>ಮುಖಪುಟ </h4></a></li>
<li><a href="{{ url_for('Laghu_Guru')}}"><h4><font color=white>ಲಘು-ಗುರು </font></h4></a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4><font color=white>ಛಂದಸ್ಸು</font><span class="caret"></span></h4></a>
<ul class="dropdown-menu">
<li><a href="{{ url_for('Kandapadya')}}"><h4>ಕಂದ ಪದ್ಯ</h4></a></li>
<li><a href="{{ url_for('Shatpadi')}}"><h4>ಷಟ್ಪದಿ</h4></a></li>
<li><a href="{{ url_for('Ragale')}}"><h4>ರಗಳೆ</h4></a></li>
</ul>
<li><a href="{{ url_for('Vrutta')}}"><h4><font color=white>ವೃತ್ತ</font></h4></a></li>
<li><a href="{{ url_for('Testing')}}"><h4><font color=white>ಪರೀಕ್ಷಿಸು </font></h4></a></li>
<li><a href="{{ url_for('exe1')}}"><h4><font color=white>ಅಭ್ಯಾಸ</font> </h4></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="{{ url_for('About')}}"><h4><font color=white>ಮಾಹಿತಿ</font> </h4></a></li>   
</ul>
  </div>
</nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" ><center><b><h1>ಲಲಿತರಗಳೆ</h1></b><center></div>
    <div class="panel-body">
<h2><strong>ಲಲಿತರಗಳೆ</strong></h2> </br> </br>
<p>
<strong><h3>ಉದಾಹರಣೆ:</h3></strong></br>
</br><h3>
UU_U| UU_U| _U_| UU_U|</br></p>

ಕುಣಿಯುತ್ತೆ |ಮಣಿಯುತ್ತೆ |ಧೂಪಮಂ |ನಲಿದಿತ್ತು|</br></br>

UU_U| __U| _UUU|_ _U|</br></p>

ತಣಿಯುತ್ತೆ |ತೂಗುತ್ತೆ |ಆರತಿಗಳಂ| ಪೊತ್ತು|</br></br>

__U| UU_U| _U_| UU_U|</br></p>

ಆರೋಗ |ಣೆಯನಿತ್ತು |ವೀಳೆಯಂ |ಗಳನಿತ್ತು|</br></br>

UU_U|_ _U|__U|_ _U|</br></p>

ಪೊಸಗಬ್ಬಮಂ| ಗದ್ಯಪ|ದ್ಯಂಗಳಂ| ಪೇಳ್ದು|</br></br>
</p>
<p>	
ಮೇಲಿನ ಈ ಲಲಿತರಗಳೆಯ ಪದ್ಯದ ಪ್ರತಿಯೊಂದು ಸಾಲಿನಲ್ಲಿಯೂ ಐದು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳಿವೆ.ಎರಡೆರಡು ಸಾಲುಗಳಲ್ಲಿ</p> ಆದಿಪ್ರಾಸನಿಯಮವಿದೆ.ಅಂತ್ಯಪ್ರಾಸವೂ ಎರಡೆರಡು 
ಸಾಲುಗಳಿಗೆ ಬೇರೆ ಬೇರೆಯಾಗಿಯೇ ಇದೆ.ಈ ರೀತಿಯಲ್ಲಿ ಪಾದ (ಸಾಲು)ಗಳು</p> ಇಂತಿಷ್ಟೇ ಇರಬೇಕೆಂಬ ನಿಯಮವಿಲ್ಲದೆ,ಪ್ರತಿಯೊಂದು 
ಪಾದದಲ್ಲೂಐದೈದು ಮಾತ್ರೆಯ ನಾಲ್ಕು ಗಣಗಳನ್ನಿಟ್ಟು ಎರಡೆರಡು</p> ಸಾಲುಗಳಲ್ಲಿ ಪ್ರಾಸನಿಯಮವನ್ನು ಮುಖ್ಯವಾಗಿಆದಿಯಲ್ಲಿ ಪಾಲಿಸಿಕೊಂಡು ಬರೆಯಲ್ಪಟ್ಟ ಪದ್ಯಗಳು ‘ಲಲಿತರಗಳೆ’ಗಳೆನಿಸುವುವು.</p>
ಅಂತ್ಯ ಪ್ರಾಸದನಿಯಮವೂ ಎರಡೆರಡು ಸಾಲುಗಳಿಗೆ ಇರಬಹುದು.ಕೆಲವು ಕಡೆ ಆದಿಪ್ರಾಸವಿಲ್ಲದೆ ಕೇವಲ ಅಂತ್ಯಪ್ರಾಸವೂ ಇರಬಹುದು.</p>ಇಂಥ ಉದಾಹರಣೆಗಳು ತೀರ ಕಡಿಮೆ.
</p></h3></br>
<div class="panel-footer"><ul class="pager">
 <li class="previous"><a href="{{ url_for('Mandanila')}}">ಹಿಂದಿನ ಪುಟ</a></li>
    <li class="next"><a href="{{ url_for('Akshara')}}">ಮುಂದಿನ ಪುಟ</a></li>
</div>
</div>
</div>
</div>
<div class="footer">
<p>
</p>
</br>
</div>

</body>
</html>

