<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='styles/chandassu.css')}}">
<script src="{{url_for('static',filename='styles/bootstrap/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='styles/bootstrap.min.js')}}"></script>
<style>
body{
    background-color:#D3D3D3
}
#header{
    background-color: blue;
    height:60px;
    padding:5px;
}
textarea{
    width:538px;
    border:1px solid #aaa;
    height:350px;
    padding:20px;
    font-size:14pt;
    font-weight: bold;
    border:1px solid black;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}
h4{
font-size:150%;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
    <a><h4><font color=red><b>ಕನ್ನಡ-ಛಂದಸ್ಸು</b></font></h4></a>
    </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="{{ url_for('Home')}}"><h4>ಮುಖಪುಟ </h4></a></li>
<li><a href="{{ url_for('Laghu_Guru')}}"><h4><font color=white>ಲಘು-ಗುರು </font></h4></a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4><font color=white>ಛಂದಸ್ಸು</font><span class="caret"></span></h4></a>
<ul class="dropdown-menu">
<li><a href="{{ url_for('Kandapadya')}}"><h4>ಕಂದ ಪದ್ಯ</h4></a></li>
<li><a href="{{ url_for('Shatpadi')}}"><h4>ಷಟ್ಪದಿ</h4></a></li>
<li><a href="{{ url_for('Ragale')}}"><h4>ರಗಳೆ</h4></a></li>
</ul>
<li><a href="{{ url_for('Vrutta')}}"><h4><font color=white>ವೃತ್ತ</font></h4></a></li>
<li><a href="{{ url_for('Testing')}}"><h4><font color=white>ಪರೀಕ್ಷಿಸು </font></h4></a></li>
<li><a href="{{ url_for('exe1')}}"><h4><font color=white>ಅಭ್ಯಾಸ</font> </h4></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="{{ url_for('About')}}"><h4><font color=white>ಮಾಹಿತಿ</font> </h4></a></li>   
</ul>
  </div>
</nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" ><center><b><h1>ಪರಿವರ್ಧಿನೀ  ಷಟ್ಪದಿ</h1></b><center></div>
    <div class="panel-body">
<h2><strong>ಪರಿವರ್ಧಿನೀ  ಷಟ್ಪದಿ</strong></h2> </br> </br>
	
<h3>ಪರಿವರ್ಧಿನೀ ಷಟ್ಪದಿಯು ಷಟ್ಪದಿಗಳಲ್ಲಿನ ಪ್ರಮುಖ ಪ್ರಕಾರಗಳಲ್ಲೊಂದು.ಪರಿವರ್ಧಿನೀ ಷಟ್ಪದಿಯಲ್ಲಿ ಆರು </p>ಪಾದಗಳಿರುತ್ತವೆ.1,೨,೪,೫ನೆಯ ಸಾಲುಗಳು ಸಮನಾಗಿದ್ದು,೪ ಮಾತ್ರೆಯ ೪ ಗಣಗಳಿರುತ್ತವೆ.೩ ಮತ್ತು ೬ನೆಯ ಪಾದಗಳಲ್ಲಿ ೪</p> ಮಾತ್ರೆಯ ೬ ಗಣಗಳಿದ್ದು, ಕೊನೆಯಲ್ಲಿ ಒಂದು ಗುರು ಬರುತ್ತದೆ(ಲಘು ಬಂದರೂ ಗುರು ಎಂದುಕೊಳ್ಳಬೇಕು). </br> </br>
<strong>ಉದಾಹರಣೆಗೆ:</strong> </br></br>
ಸ್ಮರವಾಜ್ಯದ ಮೈಸಿರಿ ಶೃಂಗಾರದ </p>
ಶರನಿಧಿರತಿ ನಾಟ್ಯದರಂಗಸ್ಥಳ </p>
ವಿರಹದ ನೆಲೆವೀಡೋಪರಕೂರಾಟದ ಕೊಸರಿನ ಗೊತ್ತು </p>
ಸರಸರ ಸಂತವಣೆಯ ಮನೆ ಸುಗ್ಗಿಯ </p>
ಪೊರವಾಗರ ಭಾವಾಲಯ ವಪ್ಪಂ </p>
ತಿರೆಪೇರೆದನ ಮರುಕವನು ದೇಪಮಹೀಪತಿ ಕನ್ನಡಿಸಿ </br> </br>

<strong>ಇದರ ಛಂದಸ್ಸಿನ ಪ್ರಸ್ತಾರ:</strong> </br></br>
UU_ |UU _ |UU _ |_ UU|</p>
ಸ್ಮರವಾ|ಜ್ಯದ ಮೈ|ಸಿರಿ ಶೃಂ|ಗಾರದ|</p>
UUUU|UU _ |UU_ |_ UU|</p>
ಶರನಿಧಿ|ರತಿ ನಾ|ಟ್ಯದರಂ|ಗಸ್ಥಳ|</p>
UUUU |UU_ |_ UU|_ _ |UU UU|UU _ |_</p>
ವಿರಹದ |ನೆಲೆವೀ|ಡೋಪರ|ಕೂರಾ|ಟದ ಕೊಸ|ರಿನ ಗೊ|ತ್ತು</p>
UUUU |_ UU|UU UU |_ UU|</p>
ಸರಸರ |ಸಂತವ|ಣೆಯ ಮನೆ |ಸುಗ್ಗಿಯ|</p>
UU_ |UU _ |_ UU |_ _ |</p>
ಪೊರವಾ|ಗರ ಭಾ|ವಾಲಯ |ವಪ್ಪಂ|</p>
UU_ |UUU U|UUUU |_ UU|_ UU |_ UU|_</p>
ತಿರೆಪೇ|ರೆದನ ಮ|ರುಕವನು |ದೇಪಮ|ಹೀಪತಿ |ಕನ್ನಡಿ|ಸಿ</br></br>
<strong>'|' ಸಂಜ್ಞೆಯು ಗಣವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ. ಪದ್ಯವು ಕೆಳಗಿನಂತೆ ಗಣವಿಂಗಡನೆಯಾಗಿರುವುದನ್ನು ಗಮನಿಸಿ: </strong></br></br>
೪|೪|೪|೪ </br>
೪|೪|೪|೪ </br>
೪|೪|೪|೪|೪|೪|- </br>
೪|೪|೪|೪ </br>
೪|೪|೪|೪ </br>
೪|೪|೪|೪|೪|೪|- </br> </br>

ಇವುಗಳಲ್ಲಿ ಭಾಮಿನೀ ಷಟ್ಪದಿ ಜನಪ್ರಿಯ.ಗದುಗಿನ ಭಾರತವಿರುವುದು ಈ ಛಂದಸ್ಸಿನಲ್ಲಿಯೆ.ಭಾಮಿನೀ ಷಟ್ಪದಿಯ ಪದ್ಯವೊಂದರಲ್ಲಿ</p> ಆರು ಪಾದ(ಅಂದರೆ ಸಾಲು)ಗಳಿರುತ್ತವೆ.ಮೂರನೆಯ,ಆರನೆಯ ಸಾಲುಗಳಲ್ಲಿ ೭ ಮಾತ್ರೆಗಳ(೩+೪) ಮೂರುಗಣಗಳೂ ಮತ್ತು ಒಂದು</p> ಗುರು ಇರುತ್ತವೆ. ಮಿಕ್ಕ ಸಾಲುಗಳಲ್ಲಿ ೭ ಮಾತ್ರೆಗಳ(೩+೪) ಎರಡು ಗಣಗಳಿರುತ್ತವೆ.ಉದಾಹರಣೆಯಾಗಿ ಗದುಗಿನ ಭಾರತದ ಈ ಪ್ರಸಿದ್ಧ<p> ಪದ್ಯವನ್ನು ನೋಡಿ: </br></br>
ವೇದ ಪುರುಷನ | ಸುತನ ಸುತನ ಸ </br>
ಹೋದರನ ಹೆ | ಮ್ಮಗನ ಮಗನ ತ </br>
ಳೋದರಿಯ ಮಾ | ತುಳನ ಮಾವನ | ನತುಳಭುಜಬಲ | ದಿ </br>
ಕಾದು ಗೆಲಿದನ | ನಣ್ಣನವ್ವೆಯ  </br>
ನಾದಿನಿಯ ಜಠ | ರದಲಿ ಜನಿಸಿದ </br>
ನಾದಿಮೂರುತಿ | ಸಲಹೊ ಗದುಗಿನ | ವೀರನಾರಯ | ಣ </br></br>

'|' ಸಂಜ್ಞೆ ಗಣವಿಭಾಗವನ್ನು ತೋರಿಸುತ್ತದೆ.
ಷಟ್ಪದಿಗಳೂ ಸೇರಿದಂತೆ ಹಲವಾರು ಛಂದೋಪ್ರಕಾರಗಳ ಲಕ್ಷಣಗಳ ಕೈಗೆಟುಕುವಂತಹ</p> ವಿವರಣೆಯನ್ನು ಅ.ರಾ. ಮಿತ್ರರ 'ಛಂದೋಮಿತ್ರ' ದಲ್ಲಿ ಕಾಣಬಹುದು. ಷಟ್ಪದಿಗಳ ಉಗಮ ವಿಕಾಸಗಳ ಬಗ್ಗೆ ಸಾಕಷ್ಟು ಚರ್ಚೆಗಳು</p> ನಡೆದಿವೆ. 
ಸೇಡಿಯಾಪು ಕೃಷ್ಣಭಟ್ಟರ, ಟಿ.ವಿ. ವೆಂಕಟಾಚಲ ಶಾಸ್ತ್ರಿಗಳ ಗ್ರಂಥಗಳಲ್ಲಿ ಈ ಬಗ್ಗೆ ಹೆಚ್ಚಿನ ಮಾಹಿತಿಯನ್ನು ಕಾಣಬಹುದು.</h3>
<div class="panel-footer"><ul class="pager">
    <li class="previous"><a href="{{ url_for('Vardhaka')}}">ಹಿಂದಿನ ಪುಟ</a></li>
    <li class="next"><a href="{{ url_for('Ragale')}}">ಮುಂದಿನ ಪುಟ</a></li>
</div>
</div>
</div>
</div>
<div class="footer">
<p>
</p>
</br>
</div>

</body>
</html>

