<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<pre class="pre-wrap">
ಒಂದು ನಿರ್ದಿಷ್ಟ ವ್ಯಂಜನವು ಪದ್ಯದ ಪ್ರತಿ ಸಾಲಿನ ಆದಿ, ಮಧ್ಯ, ಅಥವಾ ಅಂತ್ಯದಲ್ಲಿ ನಿಯತವಾಗಿ ಬರುವುದೇ <b>ಪ್ರಾಸ</b>.

- ಪದ್ಯದ ಪ್ರತಿ ಸಾಲಿನ ಒಂದು ಮತ್ತು ಎರಡನೆಯ ಸ್ವರಗಳ ಮಧ್ಯದಲ್ಲಿ ಒಂದೇ ಜಾತಿಯ ವ್ಯಂಜನವಿದ್ದರೆ ಅದನ್ನು <b>ಆದಿಪ್ರಾಸ</b>ವೆಂತಲೂ
— ಪ್ರತಿ ಪಾದದ ಕೊನೆಯಲ್ಲಿ ಒಂದೇ ಜಾತಿಯ ವ್ಯಂಜನವಿದ್ದರೆ ಅದನ್ನು <b>ಅಂತ್ಯಪ್ರಾಸ</b>ವೆಂತಲೂ ಕರೆಯುತ್ತಾರೆ.
— ಕೆಲವೊಮ್ಮೆ ಅಪರೂಪಕ್ಕೆ ಸಾಲಿನ ಮಧ್ಯದಲ್ಲಿ ಪ್ರಾಸಾಕ್ಷರಗಳು ಬರುವುದುಂಟು ಅದನ್ನು <b>ಒಳಪ್ರಾಸ ಅಥವಾ ಮಧ್ಯಪ್ರಾಸ</b> ಎಂದು ಕರೆಯಲಾಗಿದೆ. ಇದು ಸಾಮಾನ್ಯವಾಗಿ ಮೊದಲ ಸಾಲಿನಲ್ಲಿ, ಅದರಲ್ಲೂ ವಿಶೇಷವಾಗಿ ತ್ರಿಪದಿಗಳಲ್ಲಿ ಕಂಡುಬರುತ್ತದೆ.

<b>ಪ್ರಾಸಾಕ್ಷರದ</b>
1. ಹಿಂದಿನ ಸ್ವರವು ಹ್ರಸ್ವವಾಗಿದ್ದರೆ ಅದನ್ನು <b>ಸಿಂಹಪ್ರಾಸ</b> ಎಂತಲೂ
2. ಹಿಂದಿನ ಸ್ವರವು ದೀರ್ಘವಾಗಿದ್ದರೆ ಅದನ್ನು <b>ಗಜಪ್ರಾಸ</b> ಎಂತಲೂ
3. ಹಿಂದೆ ಅನುಸ್ವಾರವಿದ್ದರೆ <b>ವೃಷಭಪ್ರಾಸ</b> ಎಂತಲೂ
4. ಹಿಂದೆ ವಿಸರ್ಗವಿದ್ದರೆ <b>ಅಜಪ್ರಾಸ</b> ಎಂತಲೂ
5. ಬೇರೆಬೇರೆ ಜಾತಿಯ ಎರಡು ಮೂರು ವ್ಯಂಜನಗಳು ಪ್ರಾಸಾಕ್ಷರಗಳಾಗಿದ್ದರೆ <b>ಶರಭಪ್ರಾಸ</b> ಎಂತಲೂ
6. ಒಂದೇಜಾತಿಯ ಎರಡು ವ್ಯಂಜನಗಳು ಪ್ರಾಸಾಕ್ಷರಗಳಾಗಿದ್ದರೆ <b>ಹಯಪ್ರಾಸ</b> ಎಂತಲೂ

ಕರೆಯಲ್ಪಡುವ <b>ಆರು ವಿಧ</b>ದ ಪ್ರಾಸಗಳನ್ನು ಕಾಣಬಹುದು.
</pre>
{% endblock %}
